.session-list
    width: 100%
    min-height: 100px

.session-list__tools
    display: flex
    justify-content: right
    align-items: center
    padding: 10px 0px
    border-bottom: 1px solid #31383a

    button
        margin-right: 10px
        font-size: 14px